* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
  }

  body {
    margin:0;
    padding: 10px;
    overflow: hidden;
  }



  #cont {
    padding: 0px;
    border: 0px;
    position: relative;
    float: left;
    overflow: hidden;
  }

  .texto {
    clear: both;
    padding: 10px;
  }

  .item {
    border: solid;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    height: 180px;
    background-color: rgb(134, 168, 202);
    overflow: hidden;
    white-space: inherit;
  }

  .box {
    text-align: center;
    float: right;
    border:solid;
    border-top: 0px;
    border-right: 0px;
    width: 200px;
    padding: 0px;
    margin: 0px;
    margin-top: 0;
    margin-left: 0;
    position: relative;

  }

  
  .mt1 {   
    background-color: rgb(203, 55, 233);
  }

  .mt2 {
    background-color: goldenrod;
  }

  .mt3 {
    background-color: greenyellow;
  }
  

  .sq1 .sq2 .sq3 {
    height: 200px;
  }


  /*Large devices*/
  @media  ( min-width: 992px ) {
    .sq1, .sq2, .sq3  {
      width: 30%;
    }

  }

  /*Medium devices*/
  @media ( min-width: 768px ) and ( max-width: 991px ) {
    .sq1, .sq2  {
      width: 43%;
    }

    .sq3  {
      width: 90%;
    }

  }

  /*Mobile devices*/
  @media ( max-width: 767px ) {
    .sq1, .sq2, .sq3 {
      width: 90%;
    }

  }